// app global css
@import '~quasar-variables';

#q-app {
  // background: $background;
}

// Centered elements
.center-text {
  text-align: center;
}

// Small help text / supplemental info
.helper-text {
  font-size: small;
}

// Collapsible "More info" type of elements
.more-info {
  font-size: 0.1 rem;
}

// Menu drawer CSS
.drawer {
  color: $darktext;
  background: linear-gradient(110deg, $secondary 0%, $accent 35%, $primary 80%);
}

h1, h2, h3 {
  color: $darktext;
}

hr {
  border: 1px solid $primary;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 3%;
}