// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #3182bd
$secondary = #deebf7
$accent    = #05386b

$lighttext    = #ffffff
$darktext    = #000000
$background = #FBFBFB
$darkgray = rgba(0,0,0,0.7);

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

$reddit = #FF4301
$medium = #000000
$github = #211F1F
$linkedin = #0077B5
$twitter = #1DA1F2